<!DOCTYPE html>
<html>
<head>
	<title>IT Admin Panel</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="admin.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>	
	
</head>
<body>

<div id="header" class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <h3>Admin Panel</h3>
  </div>
  <div class="col-xs-6"></div>
</div>

<div class="container-fluid">
	<div class="col-xs-12 col-md-7">
		<form action="/admin" method="POST">
			<div class="col-xs-0 col-sm-1 form-group"></div>
			<div class="col-xs-12 col-sm-10 form-group">
				<div class="row form-group">
					<label class="control-label" for="course_name">Certificate Course Title:</label>
					<input id="course_name" class="form-control input-lg" name="courseName" placeholder="Certificate course name" value="<%= params['courseName'] || @admin_course_title || nil %>">
				</div>
				<div class="row">
					<div class="col-xs-6 form-group">
						<label class="control-label" for="signer">Signature:</label>
						<select id="signer" class="form-control" name="sigSelect" required>
							<%= @sig_list_html %>
						</select>
					</div>
					<div class="col-xs-6 form-group">
						<label class="control-label" for="template">(Not yet implemented) Template:</label>
						<select id="templateSelect" name="templateSelect" class="form-control" placeholder="template">
							<option value="ppe_online_cert.js">ppe_online_cert.js</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label" for="grading">(Not yet implemented) Evaluation Method:</label>
						<select id="grading" name="evalMethod" class="form-control" placeholder="template">
							<option value="cael_2_cert">CAEL: Two Certificates</option>
						</select>
					</div>
					<div class="col-xs-1 col-sm-2 form-group"></div>
					<div class="col-xs-10 col-sm-8 form-group">
						<button id="submit" type="button submit" class="btn btn-primary btn-block">Submit</button>
						<a class="btn btn-default btn-block" href="/cert"> Enter as Student </a>
					</div>
					<div class="col-xs-1 col-sm-2"></div>
				</div>
			</div>
		</form>
		<div class="col-xs-0 col-sm-1"></div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="well">
			<h4>Current Settings</h4>
		</div>
		<div class="col-xs-1 col-sm-2"></div>
		<div class="col-xs-10 col-sm-8 form-group">
			<form action="/add-sig" method="POST">
				<div class="row">
					<%= @sig_alert_add %>
					<h4>Manage Signatures</h4>
					<label class="control-label" for="sigName">Name</label>
					<input id="sigName" class="form-control input-sm" name="sigName" placeholder="Name of signer">
					<label class="control-label" for="sigRole">Role</label>
					<input id="sigRole" class="form-control input-sm" name="sigRole" placeholder="Signer's role">
					<label class="control-label" for="sigImg">Signature (Data URL)</label>
					<input id="sigImg" class="form-control input-sm" name="sigImg" placeholder="Paste Data URL here">
					<div class="col-xs-3"></div>
					<div class="col-xs-6 form-group">
						<button id="newSigSubmit" type="button submit" class="btn btn-primary btn-block">New</button>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</form>
			<br/>
			<%= @sig_alert_del %>
			<form action="/remove-sig" method="POST">
				<div class="form-group">
					<label class="control-label" for="rmSigList">Delete:</label>
					<select id="rmSigList" class="form-control" name="rmSig" required>
						<%= @sig_delete_list %>
					</select>
				</div>
				<div class="form-group">
					<button id="rmSigSubmit" type="button submit" class="btn btn-danger btn-block">Delete</button>
				</div>
			</form>

		</div>
		<div class="col-xs-1 col-sm-2"></div>
	</div>
	<div class="col-xs-0 col-md-1"></div>
</div>


</body>
</html>