<!DOCTYPE html>
<html>
<head>
	<title>Student Mode</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<!--  <script type="text/javascript" src="jquery-2.2.3.min.js"></script>  -->


	<script>
	/**
	 * This is where the data processing will take place that pulls LTI parameters from Ruby
	 * and pass them to a Javascript object.  The Javascript object will be sent to a PDF creation
	 * function where data from the object can be parsed and written as a PDF.  Conversion must take
	 * place here, as I have not found a method for running Javascript files with ERB encoding.
	 * 
	 * Feel free to add additional parameters to the student and course objects. Adding them here
	 * will make them available to jsPDF in the scripts.js file.
	 */
	 
	 //TODO: Translate all Ruby variables to Javascript object properties
	 var student = {
	 	fullName:"<%= @full_name %>",
	 	creditHours:"<%= @credit_hours %>",
	 }

	 var course = {
	 	courseTitle:"<%= @course_title %>",
	 	startMonthYear:"<%= @course_start_date %>",
	 	endMonthYear:"<%= @course_end_date %>",
	 	deptHead:"<%= @dept_head %>",
	 	deptHeadRole:"<%= @dept_head_role %>",
	 	deptHeadSignature:"<%= @dept_head_signature %>",
	 }

	</script>

	
</head>
<body>
	<div id="content">
	    <h1>Student Mode</h1>
	</div>
	<div id="editor"></div>

	
	
	<!-- Implemented for testing purposes -->
	<button id="test">test jQuery</button>
	<!-- <button id="rubyTest">test Ruby</button>
	 End testing resources -->
	
</body>

	

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="jspdf.min.js"></script>
	<script type="text/javascript" src="ppe_online_cert.js"></script>
	<script type="text/javascript" src="text_center.js"></script>
	

		<!-- Included for testing -->
		<script> createCert(student, course) </script>

	
</html>